*{
    margin:0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    
}
header{
    display: flex;
    margin-left: 8rem;
    color: #000;
    align-items: center;
    gap: 7rem;
    width: 90%;
    height: 40px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
}

.logo{
    font-size: 1.7rem;
    font-weight: bold;
    color: dimgray;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    letter-spacing: 3px;
     -webkit-box-reflect: below 0px linear-gradient(to top, transparent 0%, rgba(255,255,255,0.6) 100%);
}
.container{
    margin-top: 10rem;
    margin-left: 5rem;
}
.hero h1{
    margin-bottom: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero p{
    line-height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1.5rem;
}
.animay {
    display: flex;
    font-size: 1.8rem;
    font-family: cursive;
    font-weight: bold;
    text-shadow: 3px 3px #e1231980;
}
.animay .y{
    padding-top: 15px;
    animation: y 3s infinite;
    transition: ease 1000ms;
}
.animay .e{
    padding-bottom: 15px;
    animation: e 3s infinite;
    transition: ease 1000ms;
}
@keyframes y{
    0%{padding-top: 3px;}
    100%{padding-bottom: 15px;}
}
@keyframes e{
    0%{padding-top: 15px;}
    100%{padding-bottom: 3px;}
}
.test{
    background-color:blue;
    position: relative;
    display: inline-block;
    border-radius:20px;
    justify-content:center;
    align-items:center;
    margin-left:20rem;
    margin-right: 20rem;
    padding: 20px;
   cursor: pointer;
}
.you{
    display: none;
    margin-top: 45px;
    width: 20px;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
}
.you p:hover{
    background-color: bisque;
    cursor: pointer;
}
.test:hover .you{
    display: block;
}