* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}
body {
  width: 100%;
  height: 100vh;
}
.wrapper {
  max-width: 100%;
  max-height: 100vh (100-150px);
}
ul li a {
  transition: 500ms ease;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding-left: 2.5rem;
  font-size: large;
  padding-top: 3rem;
  padding-bottom: 60px;
  padding-right: 2rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.9);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo img {
  width: 25%;
  height: auto;
  border-radius: 50%;
  padding-top: 50px;
}

nav ul {
  display: flex;
  gap: 3rem;
  padding-right: 2.5rem;
}
nav ul a:hover {
  cursor: pointer;
  border-bottom: 2px solid purple;
}
.y {
  display: none;
}
.menu {
  right: 0;
  top: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.486);
  z-index: 1000;
  width: 250px;
  display: none;
  flex-direction: column;
  height: 100vh;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.801);
  backdrop-filter: blur(10px);
  padding-left: 3px;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}
.menu ul li:hover {
  border-bottom: 2px solid purple;
}
.menu p:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  gap: 50px;
  padding-left: 40px;
  position: relative;
  padding-top: 130px;
}
.hero img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px 0 15px 0px;
}

h3 {
  font-family: "playfair";
}
p {
  font-family: "poppins";
  line-height: 35px;
  font-size: large;
}
.about {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  padding-left: 40px;
}
.about img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
.gallary {
  max-width: 100%;
  padding-top: 20px;
}
.gallary h2 {
  text-align: center;
}
.necklaces {
  max-width: 100%;
}
.necklaces h3 {
  text-align: center;
}
.necklaces img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}
.necklaces img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.images-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}
.image-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}
.bracelets {
  max-width: 100%;
}
.bracelets h3 {
  text-align: center;
}
.bracelets img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
}
.bracelets img:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.img2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}
.img3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
}
.contact {
  max-width: 100%;
}
.contact h3 {
  text-align: center;
}
.contact p {
  text-align: center;
}
footer p {
  text-align: center;
}

@media (max-width: 720px) {
  .hero {
    display: block;
    padding-left: 0px;
    text-align: center;
  }
  .hero img {
    width: 90%;
  }
  nav {
    display: none;
  }
  .about {
    display: block;
    padding: 0;
    text-align: center;
  }
  .about img {
    width: 80%;
  }
  .y {
    display: block;
  }
}
@media (max-width: 935px) {
  nav {
    display: none;
  }
  .y {
    display: block;
  }
  .hero {
    display: block;
    text-align: center;
  }
  .about {
    display: block;
    text-align: center;
  }
}
@media (max-width: 1016px) {
  nav {
    display: none;
  }
  .y {
    display: block;
  }
}
